<%= stylesheet_link_tag 'style' %>
<div id="menu">Rafał Żukowski jesteś: <span id="status"> sprawdzam...</span></div>
<script>
var statusElem = document.getElementById('status')

setInterval(function () {
  statusElem.className = navigator.onLine ? 'online' : 'offline';
  statusElem.innerHTML = navigator.onLine ? 'online' : 'offline';  
}, 250);</script>
<h2><%= link_to 'Zobacz zdjęcia', pictures_path %></h2>

<% @posts.each do |post| %>
<div class="post">
<b>Dodane:</b> <%= post.created_at %></td>
<p><%= post.content %></p>
</div>

<% end %>


<br />

<%= link_to 'New Post', new_post_path %>
